@org.springframework.web.bind.annotation.RestController
public class {{ class_name }} {

    @org.springframework.web.bind.annotation.GetMapping("{{ route_path }}")
    public org.springframework.http.ResponseEntity<String> {{ handler_name }}(
            jakarta.servlet.http.HttpServletRequest request) {
{{ body }}
    }
}
