        try {
            javax.xml.parsers.DocumentBuilderFactory factory =
                javax.xml.parsers.DocumentBuilderFactory.newInstance();
            javax.xml.parsers.DocumentBuilder builder = factory.newDocumentBuilder();
            org.w3c.dom.Document doc = builder.parse(
                new org.xml.sax.InputSource(new java.io.StringReader({{ value_expr }}))
            );
            org.w3c.dom.NodeList titleNodes = doc.getElementsByTagName("title");
            String titleText = titleNodes.getLength() > 0 ? titleNodes.item(0).getTextContent() : "";
            return org.springframework.http.ResponseEntity.ok("Imported issue title: " + titleText);
        } catch (Exception e) {
            return org.springframework.http.ResponseEntity.status(400).body("Import error: " + e.getMessage());
        }
